/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body */
body {
	font-family: Arial, sans-serif;
	background-color: #fef6f9; /* pastel pink */
	color: #5a5a5a;
	line-height: 1.6;
	text-align: center;
}

/* Header */
header {
	padding: 80px 20px;
	background-color: #d8f3dc; /* pastel mint */
}

header h1 {
	font-size: 2.5rem;
	margin-bottom: 15px;
}

header p {
	margin-bottom: 25px;
	font-size: 1.1rem;
}

/* Button */
.btn {
	display: inline-block;
	padding: 12px 25px;
	background-color: #ffcad4; /* pastel coral */
	color: #333;
	text-decoration: none;
	border-radius: 25px;
	transition: 0.3s ease;
}

.btn:hover {
	background-color: #f4acb7;
}

/* Features Section */
.features {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 60px 20px;
	flex-wrap: wrap;
}

.card {
	background-color: #cdb4db; /* pastel lavender */
	padding: 25px;
	border-radius: 15px;
	width: 250px;
	color: white;
}

.card h2 {
	margin-bottom: 10px;
}

/* Footer */
footer {
	padding: 20px;
	background-color: #bde0fe; /* pastel blue */
	margin-top: 40px;
}

h2 {
	margin: 40px 0 20px;
}

#fileList {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	max-width: 600px;
	margin: 0 auto 60px;
}

#fileList li {
	background-color: #ffd6e0; /* soft pink card for each file */
	padding: 15px 20px;
	border-radius: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #333;
	transition: 0.2s ease;
}

form {
	background-color: #ffd6e0; /* soft pink card for each file */
	padding: 15px 20px;
	border-radius: 15px;
	align-items: center;
	max-width: 600px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #333;
	transition: 0.2s ease;
}

#fileList li:hover {
	background-color: #ffc0cb;
}

#fileList button {
	background-color: #ffcad4;
	border: none;
	padding: 8px 16px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s ease;
	font-weight: bold;
}

#fileList button:hover {
	background-color: #f4acb7;
}

.loading {
	font-style: italic;
	color: #777;
}

.container {
	padding: 20px;
}

.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffcad4;
   	color: #333;
   	text-decoration: none;
   	padding: 8px 16px;
   	border-radius: 20px;
   	font-weight: bold;
	transition: 0.3s ease;
}

.home-link:hover {
	background-color: #f4acb7;
}
